@charset "utf-8";
/* 
@import url(./common.css);
@import url(./reset.css); */

/* 공통구역을 제외한 메인페이지 스타일 */

#section {
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

/* 높이 1080으로  w:는 100% */
#section .slide-outer {
    position: relative;
    height: 1080px; 
    overflow: hidden;
    width: 100%;
}

#section  .slide-inner > div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg_1.jpg) no-repeat 50% 60%; 
    background-size: cover;
    width: 100%;
    height: 1080px; 

}
#section  .slide-inner > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg_2.jpg) no-repeat 50% 60%; 
    background-size: cover;
    width: 100%;
    height: 1080px; 
}

#section  .slide-inner > div:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images//bg_4.jpg) no-repeat 50% 60%  ; 
    background-size: cover;
    width: 100%;
    height: 1080px; 
}


#section .slide-inner .main-text {
    color: #fff;
    font-size: 70px;
    font-family: 'Nanum Pen Script', cursive;
    text-transform: capitalize;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 2s 1s fadeIn both,  1.2s 2s infinite twinkle;
    cursor: default;
    letter-spacing: 10px;
}

#section .slide-outer .arr {
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.5s;
}

#section .slide-outer .arr:hover {
    opacity: 1;
}

#section .slide-outer .next {
    right: 16%;
}

#section .slide-outer .prev {
    left: 16%;

}


#section .slide-outer .dot-box {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
}

#section .slide-outer .dot-box > a {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    margin: 0 6px;
}
#section .slide-outer .dot-box > a.active {
    opacity: 1;
}

#section .part1-wrap {
    padding: 100px 0;
}

#section .part1-wrap .board,
#section .part1-wrap .board-video {
    display: inline-block;
}

#section .part1-wrap .board {
    margin: 20px 20px 20px 0;
}

#section .part1-wrap .tabTit {
    position: relative;
}


#section .part1-wrap .tabTit ul li {
    float: left;
    height: 49px;
}

#section .part1-wrap .tabTit ul li a {
    display: inline-block;
    width: 98px;
    padding: 14px 20px;
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    color: #424242;

}

#section .part1-wrap .tabTit ul li a.on {
    width: 98px;
    padding: 14px 20px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-top: 1px solid #000;
    border-bottom: none;
}

#section .part1-wrap .tabTit ul li:nth-child(2) a {
    border-left: none;
    
}

#section .part1-wrap .tabTit .more {
    position: absolute;
    right: 0px;
    bottom: 0px;
}


#section .part1-wrap .tabTit .more a {
    display: inline-block;
    padding: 10px;
}

#section .part1-wrap .tabCont {
    border: 1px solid #eaeaea;
    color: #999;
    padding: 20px;
    width: 565px;
}

#section .part1-wrap .tabCont colgroup col:nth-child(1) {
    width:75%
}

#section .part1-wrap .tabCont colgroup col:nth-child(2) {
    width: auto;
}

#section .part1-wrap .tabCont table tr {
    display: inline-block;
    padding: 12px 0;
}
#section .part1-wrap .tabCont table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis 
}

#section .part1-wrap .tabCont table td:nth-child(2) {
    padding-left: 25px;
}


#section .part2-wrap {
    position: relative;
    background: url(../images/galaxy.jpg) no-repeat center bottom;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

#section .part2-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0,0,0,0.2));
    /* background: #000; */
    /* opacity: 0.7; */
    z-index: 9;
}

#section .part2-wrap .part2-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.9;
    font-size: 40px;
    text-transform: capitalize;
    animation: 1s twinkle infinite;
    cursor: default;
    letter-spacing: 7px;
    z-index: 99;
}
#section .part2-wrap button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    background: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: white;
    z-index: 99;
}

#section .part2-wrap button:hover {
    opacity: 1;
    background: #fff;
    transition: all 0.3s;
    color: #000;
}

#section .part3 {
    padding: 150px 0;
    background-color: #f7f7f7;
    text-align: center;
}
/* 이미지 박스 */
#section .part3 .box-wrap {
    float: left;
}

#section .part3 .box-img {
    width: 380px;
    height: 380px;
    position: relative;
}

#section .part3 .box-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255,255,255,0);
    z-index: 9;
    transition: ease-in-out 0.6s;
}

#section .part3 .box-img:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    border-top: 25px solid #000;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    z-index: 99;
}

#section .part3 .box-img:nth-child(2):after {
    border-top: none;
    border-bottom: 25px solid #000;
    /* border 값만큼 top 마이너스 */
    top: -25px;
}

#section .part3 .box-img:hover:before {
    background: rgb(0, 0, 0);
}

#section .part3 .box-wrap:nth-child(1) .box-img {
    background: url(../images/star1.jpg) no-repeat 50% 50%;
}

#section .part3 .box-wrap:nth-child(2) .box-img {
    background: url(../images/star2.jpg) no-repeat 0% 20%;
}

#section .part3 .box-wrap:nth-child(3) .box-img {
    background: url(../images/star3.jpg) no-repeat 50% 80%;
}

#section .part3 .box-img .text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 20px;
    /* text-shadow: 0 2px 5px #555, 0 0 5px #fff; */
    text-transform: uppercase;
    z-index: 99999;
    transition: ease-in-out 0.6s;
}

#section .part3 .box-img:hover .text {
    animation: 0.6s up both;
}

#section .part3 .box-img .text a {
    display: inline-block;
    padding: 18px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

#section .part3 .box-img .text a:nth-child(1) {
    margin-right: 40px;
}

/* 텍스트 박스 */
#section .part3 .box-text-wrap {
    width: 380px;
    height: 380px;
    background-color: #fff;
}

#section .part3 .box-text-wrap {
    position: relative;
}

#section .part3 .box-text-wrap .box-text {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

#section .part3 .box-text-wrap h3 {
    color: #424242;
    margin-bottom: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
}
#section .part3 .box-text-wrap p {
    line-height: 24px;
    font-size: 14px;
    color: #6c6c6c;
}

#section .part4 {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}

#section .part4 .vid:before {
    content: '';
    background:  rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
} 

#section .part4 video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#section .part4 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 35px;
    letter-spacing: 15px;
    text-transform: capitalize;
    text-shadow: 0 0 3px black;
    z-index: 99;
    animation: 1s twinkle infinite;
    cursor: default;
}

#section .part5 {
    text-align: center;
    padding: 130px 0;
    text-transform: capitalize;
}

#section .part5 > h3 {
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
#section .part5 > p {
    font-size: 25px;
    color: #252525;
    margin-bottom: 50px;
    letter-spacing: 1px;
    
}

#section .part5 .part5-box {
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 0 4%;
}

#section .part5 .part5-box i {
    font-size: 60px;
    color: #999;
    margin-bottom: 20px;
}


#section .part5 .part5-box span {
    display: block;
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}
#section .part5 .part5-box p {
    color: #aaa;
    font-size: 14px;
}

#section .part5 .part5-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: #666;
    height: 3px;
    transition: ease-in-out 0.5s;
}

#section .part5 .part5-box:hover:before {
    right: 0;
}

#section .part5 .part5-box:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    background: #666;
    width: 3px;
    transition: ease-in-out 0.5s;
}

#section .part5 .part5-box:hover:after {
    bottom: 0;
}

#section .part5 .part5-box-inner {
    position: relative;
    padding: 40px 20px;
}

#section .part5 .part5-box-inner:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 100%;
    background: #666;
    width: 3px;
    transition: ease-in-out 0.5s;
}

#section .part5 .part5-box-inner:hover:before {
    top: 0;
}

#section .part5 .part5-box-inner:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 100%;
    background: #666;
    height: 3px;
    transition: ease-in-out 0.5s;
}

#section .part5 .part5-box-inner:hover:after {
    left: 0;
}